body.lock {
	height: 100%;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	color: $black;
	background-color: $white;
	font-family: $Berlin;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding-top: 48px;

	@include media-breakpoint-up(lg) {
		padding-top: 0;
	}

	//min-width: 1200px;

	::selection {
		color: $white;
		background: $yellow;
		opacity: 1;
	}

	img::selection {
		background: none;
	}
}


$sidebarWidth: 256px;
$sidebarWidthMobile: 100%;
//$sidebarWidthMobile: 320px;

$headerHeight: 48px;


.content {
	width: 100%;

	@include media-breakpoint-up(lg) {
		//width: calc(100vw - $sidebarWidth);
		padding-left: $sidebarWidth;
	}
}

.header {
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;
	border-bottom: 1px solid $black;
	background-color: $white;
	text-align: center;

	@include media-breakpoint-up(lg) {
		display: none;
	}

	&__menu-btn {

		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $headerHeight;
		height: $headerHeight;
		z-index: 10;
		cursor: pointer;
		transition: 0.3s;
		transform: translateY(-100%);
		transition: transform .3s ease-in-out;

		&.active {
			transform: translateY(0)
		}
	}


	&__logo {
		display: inline-block;
		margin-top: 12px;
	}
}

.sidebar {
	border-right: 1px solid $black;
	background-color: $white;

	width: $sidebarWidthMobile;
	position: fixed;
	z-index: 1;
	height: 100%;

	padding-bottom: 50px;
	transform: translateX(-100%);
	transition: transform .3s ease-in-out;

	@include media-breakpoint-up(lg) {
		width: $sidebarWidth;
		//position: relative;
		//height: auto;
		//padding-bottom: 0;
		transform: translateX(0)
	}

	&.opened {
		transform: translateX(0)
	}

	&__navbar {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-y: auto;
		overflow-x: hidden;
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}
	}

	&__nav {
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}

		//margin-bottom: 0;
		position: relative;

		@include media-breakpoint-up(lg) {
			//margin-bottom: 234px;
		}

		ul {
			padding: 16px 16px 24px;

			@include media-breakpoint-up(lg) {
				padding: 24px 24px 24px;
			}

			position: relative;
			top: 0;
			transform: translateX(-100%);
			transition: transform .3s ease-in-out;

			&.active {
				transform: translateX(0);
				//position: static;
			}
		}

		.nav-item-active-children ul {
			position: absolute;
			top: $headerHeight;
		}


		ul li,
		.nav-back {
			font-weight: 700;
			font-size: 20px;
			line-height: 21px;
			margin-bottom: 16px;
			text-transform: lowercase;
		}

		ul li a,
		.nav-item-parent>span {
			:hover {
				color: $dark;
			}
		}

		.nav-item-parent>span {
			cursor: pointer;
		}

		.nav-back {
			cursor: pointer;
			padding: 0 16px;
			height: $headerHeight;
			margin-bottom: 0;
			border-bottom: 1px solid $black;
			position: relative;
			z-index: 3;
			left: -1px;
			margin-top: -$headerHeight;
			transition: margin .3s ease-in-out;
			background-color: $white;
			display: flex;
			align-items: center;

			.icon {
				margin-right: 5px;
			}

			@include media-breakpoint-up(lg) {
				padding: 0 24px;
			}

			&.active {
				margin-top: 0;
			}
		}

	}


	&__bottom {
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}
	}

	&__logo {
		display: flex;
		justify-content: flex-end;
		position: relative;
		right: 1px;
		/*&-link{
			font-family: $Gothic;
			font-size: 70px;
			line-height: 70px;
			font-weight: 600;
			white-space: nowrap;
		} */
	}

	&__social {
		padding: 22px 16px 0;

		@include media-breakpoint-up(lg) {
			padding: 22px 24px 0;
		}

		border-top: 1px solid $black;
	}

	.social__list {
		display: flex;

		a {
			text-decoration: none;
			margin-right: 6px;

			&:last-child {
				margin-right: 0
			}

			img {}

		}

	}

	&__phone {

		padding: 14px 16px 0px;

		@include media-breakpoint-up(lg) {
			padding: 14px 24px 0px;
		}

		a {
			font-size: 20px;
			white-space: nowrap;
		}
	}

	&__eye-link {
		padding: 14px 10px 24px 16px;

		@include media-breakpoint-up(lg) {
			padding: 14px 10px 24px 24px;
		}

		font-weight: 400;
		font-size: 16px;
		line-height: 21px;

		.icon {
			margin-right: 7px;
		}
	}

}

.main {
	position: relative;
	z-index: 0;
}

.slider {
	display: flex;

	.swiper-navigation {
		position: absolute;
		width: 110px;
		margin-left: -55px;
		height: 48px;
		bottom: auto;
		top: 280px;
		left: 50%;

		@include media-breakpoint-up(lg) {
			bottom: 25px;
			top: auto;
			left: 25%;
		}
	}

	.swiper-slide-inner {
		display: block;
		height: 100%;
		text-decoration: none;

		@include media-breakpoint-up(lg) {
			display: flex;
		}
	}

	&__text-block {
		width: 100%;
		height: 350px;
		display: flex;
		text-align: center;
		justify-content: center;
		//align-items: center;
		padding: 50px 30px 100px;
		position: relative;

		@include media-breakpoint-up(lg) {
			width: 50%;
			height: auto;
		}

		@include media-breakpoint-up(xl) {
			//1200
			padding: 70px 40px;
		}

		@include media-breakpoint-up(xxl) {
			//1400
			padding: 100px 40px;
		}

		@include media-breakpoint-up(xxxl) {
			//1600
			padding: 150px 40px;
		}

		&-bg {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			$pdsmall: 20%;
			$pdbig: 80%;

			@include media-breakpoint-up(xxl) {}

			&>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				//border:1px solid;
			}

			.bg-l {
				right: $pdbig;
				bottom: $pdsmall;
			}

			.bg-t {
				left: $pdsmall;
				bottom: $pdbig;
			}

			.bg-r {
				left: $pdbig;
				top: $pdsmall;
			}

			.bg-b {
				top: $pdbig;
				right: $pdsmall;
			}

			.decor {
				position: absolute;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&-items {
			position: relative;
			z-index: 1;
		}

		.event-type {
			text-transform: uppercase;
			font-weight: 400;
			line-height: 27px;
			font-size: 16px;
			height: 38px;
			margin-bottom: 30px;

			@include media-breakpoint-up(xl) {
				font-size: 18px;
				height: 38px;
			}

			@include media-breakpoint-up(xxxl) {
				font-size: 21px;
				margin-bottom: 50px;
				height: 48px;
			}



		}

		.event-name {
			//white-space: pre-line;
			color: $dark;
			max-width: 500px;
			margin: 0 auto;


			font-size: 30px;
			line-height: 30px;
			margin-bottom: 20px;


			@include media-breakpoint-up(xl) {
				font-size: 36px;
				line-height: 36px;
				margin-bottom: 45px;
			}



			@include media-breakpoint-up(xxl) {

				font-size: 48px;
				line-height: 48px;
			}

		}

		.event-text {
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			//white-space: pre-line;
			color: $dark;
			max-width: 380px;
			margin: 0 auto;

			@include media-breakpoint-up(xl) {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	&__img-block {

		width: 100%;
		object-fit: cover;

		img {
			max-width: 100%;
			height: 100%;
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}
}


.main-tabs {

}

.tab-list {
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid $dark;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		margin: 0 15px;
		padding: 25px 10px;
		position: relative;
		top: 1px;

		&.active {
			border-bottom: 4px solid $yellow;
			padding-bottom: 21px;
			cursor: text;
		}

		.h2 {
			margin: 0
		}

		img {
			margin-right: 10px;
		}
	}
}

.tab {
	padding: 0 36px;
}

.filters {
	padding-top: 24px;
	.filter-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;
		height: 38px;
		overflow: hidden;
	}

	.filter-name {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 21px;
		margin-bottom: 10px;
		display: flex;

		.icon {
			font-size: 12px;
			font-weight: 700;
			width: 20px;
			height: 20px;
			padding: 0;
			margin-right: 4px;
			background-color: $yellow;
		}
	}


	li {
		margin-right: 12px;
		margin-bottom: 12px;
	}

	.btn {
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		padding: 0 18px 4px;

		&.btn-more,
		&.btn-int {
			padding-bottom: 0;
		}

		&.active {
			background-color: $dark;
			color: $white;
			cursor: text;
		}
	}

	.filter-list-hidden {
		margin-top: 12px;
		position: absolute;
		transition: height .3s ease-in-out;
		height: 0;
		overflow: hidden;
	}

	.filter-more-container {
		margin-top: 12px;
	}

}

.afisha {
	margin-top: 26px;
	margin-bottom: 20px;
	.afisha-item-inner{
		padding: 16px 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.afisha-item {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		&__top-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__date-time {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
	
			.bull {
				margin: 0 8px;
			}
		}
		&__old{
			width: 29px;
			height: 29px;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
		}
		&__name{
			text-align: center;
			//padding:0 24px;
			margin:15px 0 15px;
		}
		&__buttons{
			display: flex;
			align-items: center;
			justify-content: center;
			> div {
				margin:0 7px
			}
		}
		&__img{
			padding:20px 30px 0;
			img{
				width: 100%;
				height: auto;
			}
		}

		@include media-breakpoint-down(xxxl) {
			&:last-child, &:nth-last-child(2){
				display: none;
			}
		}

		@include media-breakpoint-down(xl) {
			&:last-child, &:nth-last-child(2){
				display: flex;
			}
		}


	}



	.btn-afisha-more {
		.icon {
			position: relative;
			top: 3px;
			margin-left: 10px;
		}
	}
}

.collapse-btn {
	cursor: pointer;
	.icon {
		margin-right: 24px;
		position: relative;
		display: flex;
		width: 36px;
		height: 36px;
		align-items: center;
		
		transition: transform 0.3s ease-in-out;
		transform-origin: center;
	}


	&.active {
		.icon {
			transform: rotate(180deg)
		}
	}
}
.seasons {
	margin-bottom: 24px;

	.season {
		border-bottom: 1px solid $dark;
		padding: 24px 0;

		.btn-season-show {

		}

		&__name {
			margin: 0;

		}
		&__items {
			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		&__day {
			font-weight: 400;
			font-size: 28px;
			line-height: 24px;
		}

		&__btn {
			.btn {
				font-weight: 400;
				font-size: 22px;
				line-height: 20px;

				.icon {
					width: 17px;
					height: 17px;
					
				}
			}
		}

		&__spectacle-items {
			//margin-top: 24px;
			transition: margin .3s ease-in-out, height .3s ease-in-out;
			height: 0;
			overflow: hidden;

			&.active {
				margin-top: 24px;
			}
		}

		&__spectacle-item {
			border-top: 1px solid $dark;
			padding: 15px 0 24px;

			//height: 96px;
			h3 {
				margin: 0;
			}
		}

		&__spectacle-date-time {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 8px;

			.bull {
				margin: 0 8px;
			}
		}

	}
}


.news {
	margin-top: 32px;
	background-color: $bg;
	padding:24px 36px;
	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		.h2 {
			margin:0
		}

		&>div {
			display: flex;
			align-items: center;
		}

		&-left {}

		&-right {}
	}

	&__items{

	}


	&__item-inner{
		background-color: $white;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item-img{
		order:0;
		img{
			width: 100%;
			height:auto;
		}
	}

	&__item-text{
		padding:20px 20px;
		order:1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item{
		margin-bottom: 36px;
		/*&:hover {
			.news__item-img {
				order:1;
			}
			.news__item-text{
				order:0;
			}	
		}*/
		&:nth-child(2n){
			.news__item-img {
				order:1;
			}
			.news__item-text{
				order:0;
			}
			/*&:hover {
				.news__item-img {
					order:0;
				}
				.news__item-text{
					order:1;
				}	
			}*/
		}

		@include media-breakpoint-down(xxxl) {
			&:last-child{
				display: none;
			}
		}

		@include media-breakpoint-down(xl) {
			&:last-child{
				display: flex;
			}
		}



	}

	&__item-date{
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
	}

	&__item-name{

		.h5{
			margin-bottom: 0;
		}
		
	}
}


.about {
	margin-top: 65px;
}


.write-us {
	margin-top: 95px;
	padding-top: 66px;
	padding-bottom: 112px;

	.text-block {
		max-width: 612px;
		font-size: 32px;
		line-height: 38px;
	}
}


.partners {
	background-color: $bg;

	.partners-row {
		//border-bottom:1px solid $black;
	}

	.row {
		height: 160px;
		justify-content: center;
		align-items: center;
	}

	.col {
		text-align: center;
	}

	a {
		transition: all .3s;
		filter: grayscale(100%);

		&:hover {
			filter: grayscale(0);
		}
	}

	img {}
}

.footer {
	background-color: $bg;
	//background-image: url(../img/footer-logo.svg);
	//background-position: bottom right;
	//background-repeat:no-repeat;
	border-top: 1px solid $black;
	font-size: 20px;
	line-height: 27px;

	&__cols {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__col-text {}

	&__col-img {
		img {
			max-width: 100%;
			position: relative;
			left: 36px;
		}
	}

	a {
		text-decoration-line: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__nav {
		display: flex;
		margin-top: 40px;

		ul {
			margin-right: 150px;
			margin-bottom: 30px;
		}

	}

	&__contacts {
		margin-top: 34px
	}

	&__copy {
		margin-top: 60px;
		padding-bottom: 60px;

		&-year {
			font-family: $Gothic;
			font-weight: 600;
			font-size: 50px;
			line-height: 57px;
		}

		&-items {
			display: flex;
			margin-top: 10px;
		}

		&-item {
			margin-right: 80px;
		}
	}


}