
body.lock{
	height: 100%;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	color: $black;
	background-color: $white;
	font-family: $Berlin;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;


	@include media-breakpoint-down(lg) {
		padding-top: 48px;
	}

	//min-width: 1200px;

	::selection {
		color: $white;
		background: $yellow;
		opacity: 1;
	}

	img::selection {
		background: none;
	}
}


.content {
	width: calc(100vw - 256px);

	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.container {
	//min-width: 1200px;
	//max-width: 100%;

}




@include media-breakpoint-up(xxxl) {
	.col-xxl-3 {
		width: 20%
	}
}



.header {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	border-bottom: 1px solid $black;
	background-color: $white;
	text-align: center;

	@include media-breakpoint-down(lg) {
		display: block;
	}

	&__menu-btn {

		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		z-index: 10;
		cursor: pointer;
		transition: 0.3s;
		transform: translateY(-100%);
		transition: transform .3s ease-in-out;
		&.active{
			transform: translateY(0)
		}
	}


	&__logo {
		display: inline-block;
		margin-top: 12px;
	}
}


$sidebarWidth: 256px;
$sidebarWidthMobile: 100%;


.sidebar {
	//padding-bottom: 5rem;

	width: $sidebarWidth;
	border-right: 1px solid $black;
	background-color: $white;

	@include media-breakpoint-down(lg) {
		width: $sidebarWidthMobile;
		position: fixed;
		z-index: 1;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 20px;
		transform: translateX(-100%);
		transition: transform .3s ease-in-out;

		&.opened {
			transform: translateX(0)
		}
	}

	&__navbar {
		width: $sidebarWidth;
		@include media-breakpoint-down(lg) {
			width: $sidebarWidthMobile;
		}
	}

	&__nav {
		
		margin-bottom: 0;
		position: relative;

		@include media-breakpoint-up(lg) {
			margin-bottom: 234px;
		}

		> ul{
			padding: 16px 16px 24px;
			@include media-breakpoint-up(lg) {
				padding: 24px 24px 24px;
			}
		}
		

		ul li, .nav-back {
			font-weight: 700;
			font-size: 20px;
			line-height: 21px;
			margin-bottom: 16px;
			text-transform: lowercase;
		}

		> ul > li  {
			position: relative;
			transform: translateX(-100%);
			transition: transform .3s ease-in-out;
			&.active {
				transform: translateX(0);
				position: relative;
			}
		}

		ul li ul {
			position: absolute;
			top: 0;
			transform: translateX(-150%);
			transition: transform .3s ease-in-out;
			&.active {
				transform: translateX(0);
				position: relative;
			}
		}

		.nav-back {
			cursor: pointer;
			padding: 16px 16px 16px;
			margin-bottom: 0;
			border-bottom: 1px solid $black;
			position: absolute;
			z-index: 3;
			left:-1px;
			transform: translateX(-100%);
			transition: transform .3s ease-in-out;
			//transition-delay: 0.5s;
			background-color: $white;
			@include media-breakpoint-up(lg) {
				padding: 16px 24px 16px;
			}
			&.active {
				transform: translateX(0);
				position: relative;
			}
		}

	}


	&__logo {
		display: flex;
		justify-content: flex-end;
		/*&-link{
			font-family: $Gothic;
			font-size: 70px;
			line-height: 70px;
			font-weight: 600;
			white-space: nowrap;
		} */
	}

	&__social {
		padding: 22px 16px 0;
		@include media-breakpoint-up(lg) {
			padding: 22px 24px 0;
		}
		border-top: 1px solid $black;
	}

	.social__list {
		display: flex;

		a {
			text-decoration: none;
			margin-right: 6px;

			&:last-child {
				margin-right: 0
			}

			img {}

		}

	}

	&__phone {

		padding: 14px 16px 0px;
		@include media-breakpoint-up(lg) {
			padding: 14px 24px 0px;
		}

		a {
			font-size: 20px;
			white-space: nowrap;
		}
	}

	&__eye-link {
		padding: 14px 10px 24px 16px;
		@include media-breakpoint-up(lg) {
			padding: 14px 10px 24px 24px;
		}
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;

		img {
			margin-right: 7px;
		}
	}

}


.main {
	position: relative;
	z-index: 0;
}

.main-event {
	display: flex;

	.swiper-navigation {
		width: 110px;
		margin-left: -55px;
		position: absolute;
		left: 25%;
		bottom: 25px;
		height: 48px;

		@include media-breakpoint-down(lg) {
			bottom: auto;
			top: 280px;
			left: 50%;
		}
	}

	.swiper-slide-inner {
		display: flex;
		height: 100%;
		text-decoration: none;

		@include media-breakpoint-down(lg) {
			display: block;
		}
	}

	&__text-block {
		width: 50%;
		display: flex;
		text-align: center;
		justify-content: center;
		//align-items: center;
		padding: 100px 30px;
		position: relative;

		@include media-breakpoint-down(xxxl) {
			//padding-top:50px
		}

		@include media-breakpoint-down(xxl) {
			padding-top: 50px
		}

		@include media-breakpoint-down(xl) {
			//padding-top:50px
		}

		@include media-breakpoint-down(lg) {
			width: 100%;
			height: 350px;
		}

		&-bg {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			$pdsmall: 20%;
			$pdbig: 80%;

			@include media-breakpoint-up(xxl) {}

			&>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				//border:1px solid;
			}

			.bg-l {
				right: $pdbig;
				bottom: $pdsmall;
			}

			.bg-t {
				left: $pdsmall;
				bottom: $pdbig;
			}

			.bg-r {
				left: $pdbig;
				top: $pdsmall;
			}

			.bg-b {
				top: $pdbig;
				right: $pdsmall;
			}

			.decor {
				position: absolute;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&-items {
			position: relative;
			z-index: 1;
		}

		.event-type {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 21px;
			line-height: 27px;
			margin-bottom: 40px;
			height: 48px;

			@include media-breakpoint-down(xxxl) {
				font-size: 18px;
				height: 38px;
			}

			@include media-breakpoint-down(xl) {
				font-size: 16px;
				height: 38px;
				margin-bottom: 30px;
			}

		}

		.event-name {
			//white-space: pre-line;
			color: $dark;
			max-width: 500px;
			margin: 0 auto 45px;

			@include media-breakpoint-down(xxxl) {
				font-size: 36px;
				line-height: 36px;
			}

			@include media-breakpoint-down(xl) {
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 20px;
			}
		}

		.event-text {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			//white-space: pre-line;
			color: $dark;
			max-width: 380px;
			margin: 0 auto;

			@include media-breakpoint-down(xl) {
				font-size: 18px;
				line-height: 22px;

			}
		}
	}

	&__img-block {
		width: 50%;
		object-fit: cover;

		img {
			max-width: 100%;
			height: 100%;
		}

		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
}


.afisha {
	padding-top: 32px;
	padding-bottom: 42px;
	background: $white;

	&__filter {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.h2 {}

		&>div {
			display: flex;
			align-items: center;
		}

		.buttons {
			display: flex;
			margin-left: 25px;

			.btn {
				margin-right: 12px;

				&:last-child {
					margin-right: 0
				}

				.icon-arrow {
					margin-left: 12px;
				}

				.icon-arrow-up {
					top: 3px
				}
			}
		}

		&-left {}

		&-right {}
	}

	&__catalog {
		margin-top: 30px;

		&-item {
			margin-bottom: 18px;
		}
	}
}


.news {
	margin-top: 32px;

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 38px;

		.h2 {}

		&>div {
			display: flex;
			align-items: center;
		}

		&-left {}

		&-right {}
	}


}

.about {
	margin-top: 65px;
}


.write-us {
	margin-top: 95px;
	padding-top: 66px;
	padding-bottom: 112px;

	.text-block {
		max-width: 612px;
		font-size: 32px;
		line-height: 38px;
	}
}


.partners {
	background-color: $bg;

	.partners-row {
		//border-bottom:1px solid $black;
	}

	.row {
		height: 160px;
		justify-content: center;
		align-items: center;
	}

	.col {
		text-align: center;
	}

	a {
		transition: all .3s;
		filter: grayscale(100%);

		&:hover {
			filter: grayscale(0);
		}
	}

	img {}
}

.footer {
	background-color: $bg;
	//background-image: url(../img/footer-logo.svg);
	//background-position: bottom right;
	//background-repeat:no-repeat;
	border-top: 1px solid $black;
	font-size: 20px;
	line-height: 27px;

	&__cols {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__col-text {}

	&__col-img {
		img {
			max-width: 100%;
			position: relative;
			left: 36px;
		}
	}

	a {
		text-decoration-line: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__nav {
		display: flex;
		margin-top: 40px;

		ul {
			margin-right: 150px;
			margin-bottom: 30px;
		}

	}

	&__contacts {
		margin-top: 34px
	}

	&__copy {
		margin-top: 60px;
		padding-bottom: 60px;

		&-year {
			font-family: $Gothic;
			font-weight: 600;
			font-size: 50px;
			line-height: 57px;
		}

		&-items {
			display: flex;
			margin-top: 10px;
		}

		&-item {
			margin-right: 80px;
		}
	}


}