body.lock {
	height: 100%;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	color: $black;
	background-color: $white;
	font-family: $Berlin;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding-top: 48px;

	@include media-breakpoint-up(lg) {
		padding-top: 0;
	}

	//min-width: 1200px;

	::selection {
		color: $white;
		background: $yellow;
		opacity: 1;
	}

	img::selection {
		background: none;
	}
}


$sidebarWidth: 256px;
$sidebarWidthMobile: 100%;
//$sidebarWidthMobile: 320px;

$headerHeight: 48px;

$x_padding_desktop: 36px;
$x_padding_mobile: 16px;

.container-fluid {
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}
}


.content {
	width: 100%;

	@include media-breakpoint-up(lg) {
		//width: calc(100vw - $sidebarWidth);
		padding-left: $sidebarWidth;
	}
}

.header {
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;
	border-bottom: 1px solid $black;
	background-color: $white;
	text-align: center;
	transition: transform .25s ease;

	.sticky-tab-list & {
		transform: translateY(-100%);
	}

	@include media-breakpoint-up(lg) {
		display: none;
	}

	&__menu-btn {

		position: absolute;
		top: 0px;
		left: 0px;
		text-align: center;
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $headerHeight;
		height: $headerHeight;
		z-index: 10;
		cursor: pointer;
		transform: translateY(-100%);
		transition: transform .3s ease-in-out;

		&.active {
			transform: translateY(0)
		}
	}


	&__logo {
		display: inline-block;
		margin-top: 12px;
	}
}

/****************SIDEBAR********************/
.sidebar {
	border-right: 1px solid $black;
	background-color: $white;

	width: $sidebarWidthMobile;
	position: fixed;
	z-index: 1;
	height: 100%;

	padding-bottom: 50px;
	transform: translateX(-100%);
	transition: transform .3s ease-in-out;

	@include media-breakpoint-up(lg) {
		width: $sidebarWidth;
		//position: relative;
		//height: auto;
		//padding-bottom: 0;
		transform: translateX(0)
	}

	&.opened {
		transform: translateX(0)
	}

	&__navbar {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-y: auto;
		overflow-x: hidden;
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}
	}

	&__nav {
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}

		//margin-bottom: 0;
		position: relative;

		@include media-breakpoint-up(lg) {
			//margin-bottom: 234px;
		}

		ul {
			padding: 16px 16px 24px;

			@include media-breakpoint-up(lg) {
				padding: 24px 24px 24px;
			}


			top: 0;
			transform: translateX(-100%);
			transition: transform .3s ease-in-out;


			&.active {
				transform: translateX(0);
				//position: static;
			}

			ul {
				position: absolute;
			}
		}

		.nav-item-active-children ul {
			position: absolute;
			top: $headerHeight;
		}


		ul li,
		.nav-back {
			font-weight: 700;
			font-size: 20px;
			line-height: 21px;
			margin-bottom: 16px;
			text-transform: lowercase;
		}

		ul li a,
		.nav-item-parent>span {
			:hover {
				color: $dark;
			}
		}

		ul li .current {
			text-decoration: underline;
			cursor: text;
		}

		.nav-item-parent>span {
			cursor: pointer;
		}

		.nav-back {
			cursor: pointer;
			padding: 0 16px;
			height: $headerHeight;
			margin-bottom: 0;
			border-bottom: 1px solid $black;
			position: relative;
			z-index: 3;
			left: -1px;
			margin-top: -$headerHeight;
			transition: margin .3s ease-in-out;
			background-color: $white;
			display: flex;
			align-items: center;

			.icon {
				margin-right: 5px;
			}

			@include media-breakpoint-up(lg) {
				padding: 0 24px;
			}

			&.active {
				margin-top: 0;
			}
		}

	}


	&__bottom {
		width: $sidebarWidthMobile;

		@include media-breakpoint-up(lg) {
			width: $sidebarWidth;
		}
	}

	&__logo {
		display: flex;
		justify-content: flex-end;
		position: relative;
		right: 1px;
		/*&-link{
			font-family: $Gothic;
			font-size: 70px;
			line-height: 70px;
			font-weight: 600;
			white-space: nowrap;
		} */
	}

	&__social {
		padding: 22px 16px 0;

		@include media-breakpoint-up(lg) {
			padding: 22px 24px 0;
		}

		border-top: 1px solid $black;
	}

	.social__list {
		display: flex;

		a {
			text-decoration: none;
			margin-right: 6px;

			&:last-child {
				margin-right: 0
			}

			img {}

		}

	}

	&__phone {

		padding: 14px 16px 0px;

		@include media-breakpoint-up(lg) {
			padding: 14px 24px 0px;
		}

		a {
			font-size: 20px;
			white-space: nowrap;
		}
	}

	&__eye-link {
		padding: 14px 10px 24px 16px;

		@include media-breakpoint-up(lg) {
			padding: 14px 10px 24px 24px;
		}

		font-weight: 400;
		font-size: 16px;
		line-height: 21px;

		.icon {
			margin-right: 7px;
		}
	}

}

.main {
	position: relative;
	z-index: 0;
}

/****************HOME********************/
.home-page .container-fluid.bg-bg {
	padding:0;
	background-color: $white;
}
.main-event {
	display: flex;
}

.main-slider {
	$navHeight: 48px;
	$navMargin: 12px;

	.swiper-navigation {
		position: absolute;
		width: 110px;
		margin-left: -55px;
		height: 48px;
		bottom: auto;
		top: calc(450px - $navHeight - $navMargin);
		left: 50%;

		@include media-breakpoint-up(md) {
			top: calc(350px - $navHeight - $navMargin);
		}

		@include media-breakpoint-up(lg) {
			bottom: 25px;
			top: auto;
			left: 25%;
		}
	}
	.swiper-slide a {
		text-decoration: none;
	}
	.swiper-slide-inner {
		display: block;
		height: 100%;
		text-decoration: none;

		@include media-breakpoint-up(lg) {
			display: flex;
		}
	}

	&__text-block {
		width: 100%;
		height: 450px;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 50px 30px 100px;
		position: relative;
		overflow: hidden;

		@include media-breakpoint-up(md) {
			height: 350px;
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
			height: auto;
		}

		// @include media-breakpoint-up(xl) {
		// 	//1200
		// 	padding: 75px 40px;
		// }

		// @include media-breakpoint-up(xxl) {
		// 	//1400
		// 	padding: 100px 40px;
		// }

		// @include media-breakpoint-up(xxxl) {
		// 	//1600
		// 	padding: 150px 40px;
		// }

		&-items {
			position: relative;
			z-index: 1;
		}

		.event-type {
			text-transform: uppercase;
			font-weight: 400;
			line-height: 27px;
			font-size: 16px;
			height: 38px;
			margin-bottom: 30px;

			@include media-breakpoint-up(xl) {
				font-size: 18px;
				height: 38px;
			}

			@include media-breakpoint-up(xxxl) {
				font-size: 21px;
				margin-bottom: 50px;
				height: 48px;
			}



		}

		.event-name {
			//white-space: pre-line;
			color: $dark;
			max-width: 500px;
			margin: 0 auto;


			font-size: 30px;
			line-height: 30px;
			margin-bottom: 0;


			@include media-breakpoint-up(xl) {
				font-size: 36px;
				line-height: 36px;
				
			}



			@include media-breakpoint-up(xxl) {
				font-size: 48px;
				line-height: 48px;
			}

		}

		.event-text {
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			//white-space: pre-line;
			color: $dark;
			max-width: 380px;
			margin: 0 auto;
			margin-top: 20px;

			@include media-breakpoint-up(xl) {
				font-size: 20px;
				line-height: 24px;
				margin-top: 36px;
			}
		}

	}

	&__img-block {

		width: 100%;
		object-fit: cover;

		img {
			max-width: 100%;
			height: 100%;
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}
}



.scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}


/****************tabs********************/
.tab-list {

	&.is-sticky {
		width: auto!important;
    	right: 0;
	}

	//overflow: hidden;
	.scroll {
		display: flex;

		@include media-breakpoint-up(xl) {
			justify-content: center;
		}
	}

	@include media-breakpoint-down(md) {}

	border-bottom: 1px solid $dark;

	&-item {
		display: flex;
		align-items: center;

		cursor: pointer;
		margin: 0;
		padding: 8px 10px 8px;
		position: relative;

		@include media-breakpoint-up(lg) {
			margin: 0 10px;
			padding: 15px 10px;
		}

		@include media-breakpoint-up(xl) {
			margin: 0 10px;
			padding: 15px 10px;
		}

		@include media-breakpoint-up(xxl) {
			margin: 0 15px;
			padding: 25px 10px;
		}

		.h2 {
			margin: 0;
			font-size: 21px;
			line-height: 21px;
			@include media-breakpoint-up(lg) {
				font-size: 28px;
				line-height: 28px;
			}
			@include media-breakpoint-up(xl) {
				font-size: 40px;
				line-height: 40px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: 48px;
				line-height: 48px;
			}

		}

		.icon {
			margin-right: 10px;
			@include media-breakpoint-down(md) {
				width: 30px;
			}
		}


		&.active {
			//border-bottom: 4px solid $yellow;
			//padding-bottom: 1px;
			cursor: text;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 100%;
				height: 4px;
				background-color: $yellow;
			}

			@include media-breakpoint-up(md) {
				//padding-bottom: 21px;
			}
		}



	}
}

.tab {
	overflow: hidden;
}



/****************filters********************/
.home-page .filters {
	padding: 24px 16px;

	padding-left: $x_padding_mobile;
	padding-right: 0;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}
}

.filters {


	.collapse-content {
		@include media-breakpoint-up(md) {
			height: auto !important;
		}
	}

	.filter-collapse-btn-container {
		text-align: center;

		@include media-breakpoint-up(md) {
			display: none;
		}

		.collapse-btn.active {
			display: none;

			@include media-breakpoint-up(md) {
				display: flex;
			}
		}
	}

	.filter-list {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 12px;
		height: 38px;

		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
			overflow: hidden;
		}
	}

	.filter-name {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 21px;
		margin-bottom: 10px;
		display: flex;

		.icon {
			font-size: 12px;
			font-weight: 700;
			width: 20px;
			height: 20px;
			padding: 0;
			margin-right: 4px;
			//margin-top: -5px;
			background-color: $yellow;
		}
	}


	li {
		margin-right: 12px;
		margin-bottom: 12px;
	}

	.btn {
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		padding: 0 18px 4px;
		text-transform: lowercase;


		&.btn-more,
		&.btn-int {
			padding-bottom: 0;
		}

		&.active {
			background-color: $dark;
			color: $white;
			cursor: text;
		}
	}

	.filter-list-hidden {
		margin-top: 12px;
		position: absolute;
		transition: height .3s ease-in-out;
		height: 0;
		overflow: hidden;
		z-index: 11;
	}

	.filter-more-container {
		margin-top: 12px;
		display: none;

		@include media-breakpoint-up(md) {
			display: block
		}
	}

}

/****************AFISHA********************/
.afisha {
	
	margin-bottom: 20px;
	margin-top: 0px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		margin-top: 26px;
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}


	.afisha-item-inner {
		padding: 16px 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.afisha-item {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;

		&__top-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__date-time {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;

			.bull {
				margin: 0 8px;
			}
		}

		&__name {
			text-align: center;
			//padding:0 24px;
			margin: 15px 0 15px;
		}

		&__buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.btn {
				margin: 0 3px 6px;
				display: flex;
			}
		}

		&__img {
			padding: 20px 0px 0;

			@include media-breakpoint-up(md) {
				padding: 20px 0px 0;
			}
			@include media-breakpoint-up(xl) {
				padding: 20px 30px 0;
			}
			@include media-breakpoint-up(xxl) {
				padding: 20px 0px 0;
			}
			@include media-breakpoint-up(xxxl) {
				padding: 20px 30px 0;
			}
			img {
				width: 100%;
				height: auto;
			}
		}

		// @include media-breakpoint-down(xxxl) {

		// 	&:last-child,
		// 	&:nth-last-child(2) {
		// 		display: none;
		// 	}
		// }

		// @include media-breakpoint-down(xl) {

		// 	display: none !important;

		// 	&:first-child,
		// 	&:nth-child(2) {
		// 		display: block !important;
		// 	}
		// }



	}



	.btn-afisha-more {
		//margin-top: 3px;

		.icon {
			position: relative;
			top: 3px;
			margin-left: 10px;
		}
	}
}

.collapse-btn {
	cursor: pointer;

	.icon {

		position: relative;
		display: flex;

		align-items: center;

		transition: transform 0.3s ease-in-out;
		transform-origin: center;
	}


	&.active {
		.icon {
			transform: rotate(180deg)
		}
	}
}

.collapse-content {
	transition: margin .3s ease-in-out, height .3s ease-in-out;
	height: 0;
	overflow: hidden;
}

/****************ABONEMENTS********************/
.seasons {
	//margin-bottom: 24px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}

	.season {
		border-bottom: 1px solid $dark;
		padding: 24px 0;

		.btn-season-show {
			.icon {
				margin-right: 10px;
				margin-top: 3px;
				width: 24px;
				height: 24px;
				@include media-breakpoint-up(md) {
					margin-right: 24px;
					margin-top: 0;
					width: 36px;
					height: 36px;
				}
			}
		}

		&__name {
			margin: 0;
			font-size: 24px;
			line-height: 24px;
			@include media-breakpoint-up(md) {
				font-size: 32px;
				line-height: 32px;
			}
			
		}

		&__items {
			margin-top: 10px;
			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			@include media-breakpoint-up(md) {
				margin-top: 0px;
			}

		}

		&__day {
			font-weight: 400;
			font-size: 22px;
			line-height: 20px;
			@include media-breakpoint-up(md) {
				font-size: 28px;
				line-height: 24px;
			}
		}

		&__btn {
			.btn {
				font-weight: 400;
				font-size: 20px;
				line-height: 20px;
				@include media-breakpoint-up(md) {
					font-size: 22px;
					line-height: 20px;
				}
				.icon {
					width: 17px;
					height: 17px;
				}
			}
		}

		&__spectacle-items {

			//margin-top: 24px;
			&.active {
				margin-top: 24px;
			}
		}

		&__spectacle-item {
			border-top: 1px solid $dark;
			padding: 15px 0 24px;

			//height: 96px;
			&:last-child {
				padding-bottom: 0;
			}

			h3 {
				margin: 0;
				font-size: 22px;
				line-height: 20px;
				@include media-breakpoint-up(md) {
					font-size: 32px;
    				line-height: 28px;
				}
				
			}
		}

		&__spectacle-date-time {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			margin-bottom: 8px;

			.bull {
				margin: 0 8px;
			}
		}

	}
}

/****************NEWS********************/
.home-page {
	.news {
		//margin-top: 35px;
		background-color: $bg;
		padding-bottom: 40px;

		&__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: $x_padding_mobile;
			padding-right: $x_padding_mobile;

			@include media-breakpoint-up(md) {
				padding-top: 40px;
				padding-bottom: 40px;
				padding-left: $x_padding_desktop;
				padding-right: $x_padding_desktop;
			}

			.h2 {
				margin: 0;
				font-size: 32px;
				line-height: 37px;

				@include media-breakpoint-up(md) {
					display: flex;
					font-size: 48px;
					line-height: 55px;
				}
			}

			&>div {
				display: flex;
				align-items: center;
			}
		}

		&__items {
			.row {
				flex-wrap: nowrap;
			}

			padding-left: $x_padding_mobile;
			padding-right: 0;

			@include media-breakpoint-up(md) {
				padding-left: $x_padding_desktop;
				//padding-right: 0;
			}

			@include media-breakpoint-up(xxl) {
				//padding-right: $x_padding_desktop;
			}
		}

		&__item {
			//margin-bottom: 36px;

			width: 288px;

			//padding-left: 8px;
			//padding-right: 8px;
			@include media-breakpoint-up(sm) {
				width: 287px;
			}

			@include media-breakpoint-up(md) {
				//width: 320px;
			}

			@include media-breakpoint-up(xxl) {
				//width: 287px;
			}

			&:nth-child(2n) {
				.news__item-img {
					order: 1;
				}

				.news__item-text {
					order: 0;
				}
			}

			&-inner {
				background-color: $white;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}

			&-img {
				order: 0;

				img {
					width: 100%;
					height: auto;
				}
			}

			&-text {
				padding: 20px 20px;
				order: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				// @include media-breakpoint-down(md) {
				// 	height: auto !important;
				// }
			}

			&-date {
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-transform: uppercase;
			}

			&-name {
				.h5 {
					margin-bottom: 0;
				}
			}

		}

		.btn-all-news {
			display: none;

			@include media-breakpoint-up(md) {
				display: flex;
			}
		}

		.btn-all-news-mobile {
			margin-top: 24px;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	.about {
		background-color: $bg;
		padding-left: $x_padding_mobile;
		padding-right: $x_padding_mobile;
		padding-top: 20px;

		@include media-breakpoint-up(md) {
			padding-left: $x_padding_desktop;
			padding-right: $x_padding_desktop;
			padding-top: 40px;
		}


		&__bg {
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
		}

		&__overlay {
			background: #181818;
			opacity: 0.5;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
		}

		&__text {
			color: $white;
			text-align: center;
			padding: 20px 20px 40px;
			position: relative;
			z-index: 1;

			@include media-breakpoint-up(md) {
				padding: 88px 36px 52px;
			}
		}

		.h2 {

			margin: 0 auto 30px;
			font-size: 26px;
			line-height: 30px;



			@include media-breakpoint-up(sm) {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 20px;
			}

			@include media-breakpoint-up(md) {
				font-size: 38px;
				line-height: 44px;
				padding: 0 36px;
				margin-bottom: 10px;
			}

			@include media-breakpoint-up(lg) {
				font-size: 48px;
				line-height: 54px;
			}
		}

		p {
			max-width: 680px;
			margin: 0 auto;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;

			@include media-breakpoint-up(md) {
				padding: 0 36px;
				font-size: 20px;
				line-height: 24px;
			}
		}

		.collapse-container {
			border-bottom: 1px solid $white;
			margin-top: 34px;
		}

		.collapse-btn {
			position: relative;
			top: 20px;
			padding: 0 16px;

			.icon {}
		}

		.collaspe-content {}
	}
}

.ext-code {
	background-color: $bg;
	padding:40px 0
}

.partners-slider {

	.swiper-navigation {
		.swiper-button-disabled {
			display: none;
		}

		.btn {
			position: absolute;
			top: 50%;
			margin-top: -24px;

			&.swiper-button-prev {
				//right:-36px;
			}

			&.swiper-button-next {
				//right:-36px;
			}
		}

		@include media-breakpoint-up(lg) {}
	}

	.swiper-wrapper {
		align-items: center;
	}

	.swiper-slide-inner {
		height: 100%;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-up(lg) {}
	}

	.swiper-slide {}
}

.partners {
	background-color: $bg;
	padding: 36px 0 0;

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}


	&__item {
		height: 100%;
		text-align: center;
		margin: 0 10px 30px;
		height: 40px;

		@include media-breakpoint-up(sm) {
			height: 60px;
			margin: 0 15px 36px;
		}

		@include media-breakpoint-up(md) {
			height: 75px;
			margin: 0 25px 36px;
		}
	}

	a {
		display: block;
		height: 100%;

		@include media-breakpoint-up(sm) {
			//height: auto;
		}
	}

	img {
		max-height: 100%;
		width: auto;

		@include media-breakpoint-up(sm) {
			//width: auto;
			//height: auto;
		}
	}
}

.footer {
	background-color: $bg;
	border-top: 1px solid $black;
	font-size: 20px;
	line-height: 27px;


	text-align: center;
	@include media-breakpoint-up(md) {
		text-align: left;
	}

	&__cols {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	&__col-img {
		img {
			max-width: 100%;
			position: relative;
			left: 36px;
			margin-bottom: -60px;
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	a {
		text-decoration-line: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__nav {
		margin-top: 40px;
		@include media-breakpoint-up(md) {
			display: flex;
		}

		ul {
			
			margin-bottom: 30px;
			@include media-breakpoint-up(md) {
				margin-right: 150px;
			}
		}

	}

	&__contacts {
		margin-top: 32px;
		font-weight: 400;
		font-size: 20px;
		line-height: 21px;
	}

	&__copy {
		margin-top: 40px;
		//padding-bottom: 60px;

		&-year {
			font-family: $Gothic;
			font-weight: 600;
			font-size: 30px;
			line-height: 34px;

			@include media-breakpoint-up(md) {
				font-size: 50px;
				line-height: 57px;
				margin-top: 60px;
				padding-bottom: 60px;
			}

		}

		&-items {
			
			margin-top: 4px;
			@include media-breakpoint-up(md) {
				display: flex;
			}
		}

		&-item {
			margin-bottom: 30px;
			@include media-breakpoint-up(md) {
				margin-right: 80px;
			}
		}
	}


}

.page {
	.container-fluid {
		
	}



	h1 {}

}

/****************breadcrumbs********************/
.breadcrumbs {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding-top: 20px;

	text-transform: lowercase;
	width: 100%;

	padding-left: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
	}


	&__container{
		

	}

	&__list{
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;
	
		&::-webkit-scrollbar {
			display: none;
		}


	}

	.icon {
		margin: 0 4px
	}
}


/****************subscribe********************/
.subscribe {
	position: relative;

	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	border-top: 1px solid $dark;
	border-bottom: 1px solid $dark;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		padding-top: 50px;
		padding-bottom: 62px;
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}

	&__text {
		.h2 {
			font-size: 28px;
			line-height: 28px;
			max-width: 580px;

			@include media-breakpoint-up(md) {
				font-size: 38px;
				line-height: 45px;
			}

			@include media-breakpoint-up(xl) {
				font-size: 48px;
				line-height: 55px;
				white-space: pre-line;
			}
		}
	}

	&__form {
		padding-top: 10px;
		max-width: 600px;

		.form-field {
			input {}

			.btn {}
		}

		.form-description {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			opacity: 0.67;
			margin-top: 10px;
		}
	}

	.decor {
		$width: 250px;
		$height: 285px;
		width: calc($width * 0.5);
		height: calc($height * 0.5);
		left: 40%;

		@include media-breakpoint-up(lg) {
			width: calc($width * 0.8);
			height: calc($height * 0.8);
		}

		@include media-breakpoint-up(xl) {
			width: $width;
			height: $height;
		}
	}



}

/****************REPERTUAR********************/
.repertuar-filter {

	padding-top: 17px;
	margin-right: -16px;
	@include media-breakpoint-up(xl) {
		margin-right: 0;
	}
	.btn {
		padding: 0 18px 4px;
	}

	.scroll {
		display: flex;

		// @include media-breakpoint-up(xl) {
		// 	justify-content: center;
		// }
	}

}

.repertuar-list {
	margin-top: 40px;
	//margin-bottom: 25px;

	.repertuar-item-inner {}

	&-item {
		margin-bottom: 64px;

		&__img {
			img {
				width: 100%;
				height: auto;
			}

			margin-bottom: 25px;
		}


		&__name-info-text {}

		&__name {
			margin-bottom: 6px;
			line-height: 55px;
		}

		&__info {
			display: flex;
			margin-bottom: 8px;
		}

		&__age {
			margin-right: 10px;
		}

		&__time {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
		}

		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 10px;
		}

		&__author {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;

			.author-post {
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-transform: uppercase;
			}

			a {}
		}



		@include media-breakpoint-down(xxxl) {}

		@include media-breakpoint-down(xl) {}
	}
}

.repertuar-list-list {
	margin-top: 62px;

	.repertuar-list-item-inner {
		display: flex;
	}

	.repertuar-list-item {
		&__img {
			margin-bottom: 0;
			margin-right: 20px;
			width: 41%;
		}

		&__content {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

/****************SPECTACLE********************/
.spectacle-page .container-fluid.bg-bg {
	padding:0;
}

.spectacle-page .breadcrumbs {
	 position: absolute;
	// left: 36px;
	// top: 20px;
	z-index: 1;
	background:none;
}

.spectacle-header {
	position: relative;

	@include media-breakpoint-up(lg) {
		display: flex;
	}

	&__text-block {
		width: 100%;
		height: 350px;
		display: flex;
		text-align: center;
		justify-content: center;
		position: relative;
		flex-direction: column;
		overflow: hidden;

		@include media-breakpoint-up(lg) {
			width: 50%;
			height: auto;
		}

		&-items {
			position: relative;
			z-index: 1;
		}
	}




	h1 {

		color: $dark;
		padding: 0 40px;
		margin: 0 auto;
		font-size: 30px;
		line-height: 0.9;
		margin-bottom: 20px;

		@include media-breakpoint-up(sm) {
			font-size: 40px;
		}

		@include media-breakpoint-up(md) {
			font-size: 50px;
		}

		@include media-breakpoint-up(lg) {
			font-size: 40px;
		}

		@include media-breakpoint-up(xl) {
			font-size: 50px;
		}

		@include media-breakpoint-up(xxl) {
			font-size: 70px;
		}

		@include media-breakpoint-up(xxxl) {
			font-size: 80px;
		}


	}

	&-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		//white-space: pre-line;
		color: $dark;
		max-width: 380px;
		margin: 0 auto;

		@include media-breakpoint-up(xl) {
			font-size: 20px;
			line-height: 24px;
		}
	}



	&__img-block {

		width: 100%;
		object-fit: cover;

		img {
			max-width: 100%;
			height: 100%;
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}

}

.spectacle-tabs {
	.h2 {}

	.tab {
		padding: 0;
	}
	.tab-list {
		@include media-breakpoint-down(md) {
			.icon {
				width: 30px;
			}
		}
	}


}

.spectacle-description {
	max-width: 872px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}

	&__info {
		
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;
			align-items: center;
			display: flex;
		}
	
		.btn-age {
			margin-right: 8px;
		}
		span {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			margin-right: 10px;
			margin-bottom: 15px;
			display: inline-block;
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		
		@include media-breakpoint-up(md) {
			margin-top: 30px;
			font-size: 24px;
			line-height: 32px;
		}
		p {
			margin-bottom: 25px;
		}
	}
}

.spectacle-authors {
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;
	margin-top: 40px;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
		margin-top: 64px;
	}

	
	max-width: 1280px;

	.h2 {
		font-size: 32px;
		line-height: 37px;

		@include media-breakpoint-up(md) {
			font-size: 36px;
			line-height: 41px;
		}
		margin-bottom: 25px
	}

	.authors-list {


		@include media-breakpoint-up(xl) {
			columns: 3;
			-webkit-columns: 3;
			-moz-columns: 3;
		}

		li {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
			break-inside: avoid-column;

			b {
				display: block;
			}
		}
	}

}

.spectacle-slider {
	margin-top: 80px;
}

.spectacle-suggestion {
	margin-top: 60px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		margin-top: 80px;
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}
}

.gallery-slider {
	.swiper-slide {
		width: 90%;
		padding: 0 4px 0;
		opacity: 1;
		@include media-breakpoint-up(md) {
			width: 70%;
			padding: 0 10px 0;
		}
		img {
			max-width: 100%;
			height: auto;
			opacity: .5;
			transition: width 0.3s ease, height 0.3s ease, opacity 0.5s ease;

		}
		&-fullscreen{
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-active {
			.swiper-slide-fullscreen{
				justify-content: center;
			}
			img {
				width: 100%;
				opacity: 1;
			}
			&.vertical img {
				width: auto;
				height: 100%;
				opacity: 1;
			}
		}
	
		&-prev-dublicate,
		&-next-dublicate,
		&-prev,
		&-next {
			img {
				height: 85%;
				@include media-breakpoint-up(md) {
					height: 75%;
				}
			}
		}
	
		&-prev-dublicate *,
		&-prev * {
			justify-content: flex-end;
		}
	}



	.swiper-navigation {
		.swiper-button-disabled {
			//display: none;
		}

		.btn {
			position: absolute;
			top: 50%;
			margin-top: -24px;

			&.swiper-button-prev {
				left: 8px;
				@include media-breakpoint-up(sm) {
					left: 16px;
				}
				@include media-breakpoint-up(md) {
					left: 36px;
				}
			}

			&.swiper-button-next {
				right: 8px;
				@include media-breakpoint-up(sm) {
					right: 16px;
				}
				@include media-breakpoint-up(md) {
					right: 36px;
				}
			}
		}

		@include media-breakpoint-up(lg) {}
	}
}

/****************full-screen slider********************/
.swiper-slide-fullscreen {
	cursor: pointer;
}

.btn-slider-fullscreen-close {
	display: none;
}

.swiper-slider-fullscreen {
	overflow: hidden;

	.main {
		position: static;
	}

	.slider-fullscreen-overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
    	bottom: 0;
		z-index: 101;
		background: rgba(0, 0, 0, 0.95);
	}

	.btn-slider-fullscreen-close {
		display: flex;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 103;
	}

	.slider-container,
	.swiper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 102;
		margin: 0;
	}

	.slider-container {}

	.swiper {}

	.swiper-slide {
		width: 100%!important;
		height: 100%!important;
		text-align: center;
		padding: 0;

		img {
			/*width: auto;
			height: 100%;
			position: relative;
			z-index: 102;
			object-fit: contain;
			aspect-ratio: 16/9;*/
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}

	.swiper-slide-fullscreen {
		cursor: default;
		position: relative;
		display: block;
		z-index: 102;
		width: 100%;


		--bs-aspect-ratio: calc(9 / 16 * 100%);

		&::before {
			display: block;
			padding-top: var(--bs-aspect-ratio);
			content: "";
		}

		&>* {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}



	.swiper-navigation {
		.swiper-button-disabled {
			//display: none;
		}

		.btn {
			position: absolute;
			top: 50%;
			margin-top: -24px;

			&.swiper-button-prev {
				left: 10px;
			}

			&.swiper-button-next {
				right: 10px;
			}
		}

		@include media-breakpoint-up(lg) {}
	}
}




/****************TICKETS********************/
.tickets {
	padding: 24px 0 80px;
	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}
}

.ticket-item {
	margin-bottom: 20px;

	@include media-breakpoint-up(md) {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__inner {
		padding: 20px;
	}

	&__day {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 3px;
	}

	&__date {
		margin-bottom: 10px;
		line-height: 28px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.btn {
			margin: 0 3px 6px;
			display: flex;
		}
	}

}

/****************COMMENTS********************/
.comments {
	position: relative;

	padding-left: $x_padding_mobile;
	padding-right: $x_padding_mobile;

	@include media-breakpoint-up(md) {
		padding-left: $x_padding_desktop;
		padding-right: $x_padding_desktop;
	}
}

.comment-list,
.comment-form {
	max-width: 795px;
	margin: 0 auto;
	position: relative;
}

.comment-list {
	padding-top: 20px;
	@include media-breakpoint-up(md) {
		padding-top: 54px;
	}

	&-item {
		display: flex;
	
		&:nth-child(2n) {
			justify-content: end;
	
			.comment-list-item__wrapper::after {
				transform: scaleX(-1);
				left: auto;
				right: 50px
			}
		}
	
		&__wrapper {
			background: $white;
			border-radius: 24px;
			margin-bottom: 48px;
			position: relative;
			min-width: 100%;
			max-width: 100%;

			@include media-breakpoint-up(md) {
				min-width: 594px;
				max-width: 594px;
				margin-bottom: 38px;
			}

			
	
			&::after {
				content: "";
				position: absolute;
				left: 50px;
				bottom: -39px;
				width: 138px;
				height: 39px;
				background: url(../img/icons/comment-bg.svg) no-repeat;
			}
		}
	
		&__inner {
			padding: 10px 0;
			padding-left: $x_padding_mobile;
			padding-right: $x_padding_mobile;
		
			@include media-breakpoint-up(md) {
				padding: 20px 0;
				padding-left: $x_padding_desktop;
				padding-right: $x_padding_desktop;
			}
		}
	
		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 8px;
		}
	
		&__name {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
		}
	
		&__date {
			font-weight: 400;
			font-size: 18px;
			line-height: 16px;
		}
	
		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 26px;
		}
	}
}



.comment-form {
	padding-top: 50px;
	padding-bottom: 150px;

	.h3 {
		font-size: 36px;
		line-height: 41px;
		margin-bottom: 26px;
	}

	.form-field {
		margin-bottom: 12px;
	}
}


/****************text-page********************/
.text-page {
	.container-fluid {
		background-color: $bg;
		padding-bottom: 100px;
		
		padding-left: $x_padding_mobile;
		padding-right: $x_padding_mobile;

		@include media-breakpoint-up(md) {
			padding-left: $x_padding_desktop;
			padding-right: $x_padding_desktop;
		}

	}

	
	.footer .container-fluid {
		padding-bottom: 0;
	}

	.content-text {

		max-width: 1000px;

		font-size: 20px;
		line-height: 28px;

		@include media-breakpoint-up(md) {
			font-size: 24px;
			line-height: 32px;
		}

		h1 {
			margin-bottom: 36px;
		}

		h2 {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 24px;

			@include media-breakpoint-up(md) {
				font-size: 36px;
				line-height: 41px;
			}
		}

		h3 {
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 25px;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.col-lg-6:first-child {

			//padding-bottom:40px;
			@include media-breakpoint-up(lg) {
				//[class*='col-'] {
				//	padding-right:40px;
			}
		}

		ul.columns-2 {
			margin: 0;
			padding: 0;
			list-style: none;

			@include media-breakpoint-up(md) {
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
			}

			li {
				margin-bottom: 40px;
				break-inside: avoid-column;
			}

		}

		ul,
		ol {
			margin-top: 32px;
			padding-left: 36px;
			margin-left: 0;
			margin-bottom: 32px;

			@include media-breakpoint-up(md) {
				padding-left: 36px;
			}


			li {
				margin-bottom: 10px;
			}
		}

		ol {
			li {
				margin-bottom: 15px;
			}
		}

		ul.document-list {
			padding-left: 0;
			margin-top: 0;
			max-width: 700px;

			li {
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 25px;

				a {
					display: flex;
				}
			}

			.icon {
				margin-right: 10px;

				img {}
			}
		}
	}

}

/****************CONTACTS********************/
.сontacts-page {
	.content-text {
		font-size: 18px;
		line-height: 24px;
		max-width: 850px;

		h2 {
			font-size: 36px;
			line-height: 41px;
			margin-bottom: 34px;
		}
	}

	li .h5 {
		font-weight: 400;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.map {
		margin-top: 40px;
	}
}



/****************ACTOR********************/
.actor-page {
	.content-text {
		font-size: 24px;
		line-height: 32px;
		padding-bottom: 40px;

		h1 {
			margin-bottom: 36px;
		}

		.actor-info {
			.h3 {
				font-size: 36px;
				line-height: 41px;
				margin-top: 24px;
				margin-bottom: 0;
			}

			margin-bottom: 36px;
		}

		p {
			margin-bottom: 25px;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&__row {}

		&__left {}

		&__right {
			position: relative;

			.decor {
				$width: 206px;
				$height: 234px;
				width: calc($width * 0.3);
				height: calc($height * 0.3);
				left: 20%;
				top: 0;
				transform: translateY(-55%);

				@include media-breakpoint-up(lg) {
					width: calc($width * 0.5);
					height: calc($height * 0.5);
					//top: calc($height * -0.5);
				}

				@include media-breakpoint-up(xl) {
					width: calc($width * 0.9);
					height: calc($height * 0.9);
					//top: calc($height/2);
				}
				@include media-breakpoint-up(xxl) {
					width: $width;
					height: $height;
				}
			}

		}

		.sticky {
			margin-top: 40px;
			@include media-breakpoint-up(lg) {
				margin-top: 0;
			}
		}




		.sticky {
			position: relative;
		}
	}

	.actor-slider {
		padding-bottom: 90px;
	}
}

.actor-list-page {
	
	.filters{
		padding-top: 17px;
	}

	.filter-list {
		position: relative;
		z-index: 10;
		li {
			margin-right: 10px;

			.btn {
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}
}

.actor-list {
	margin-top: 36px;

	&-item {
		margin-bottom: 60px;

		a {
			text-decoration: none;
		}

		&__img {}

		&__post {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-top: 8px;
		}

		&__name {
			margin-bottom: 0px;
			line-height: 37px;
		}

		&__description {
			font-size: 16px;
			line-height: 21px;

			.icon {}
		}
	}
}


/****************NEWS PAGE********************/
.news-list-page .container-fluid {
	padding-bottom: 60px;
}

.news-list {
	padding-top: 36px;

	&-item {
		padding-bottom: 24px;

		a {
			text-decoration: none;

			@include media-breakpoint-up(xl) {
				display: flex;
			}
		}

		&__img {
			// @include media-breakpoint-up(lg) {
			// 	width: 30%;
			// }

			@include media-breakpoint-up(xl) {
				width: 41%;
			}
		}


		&__text-block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: $white;
			padding: 20px 32px;

			// @include media-breakpoint-up(lg) {
			// 	width: 70%;
			// }

			@include media-breakpoint-up(xl) {
				width: 59%;
			}
		}


		&__name {
			margin-bottom: 10px;
			font-size: 32px;
			line-height: 37px;
		}

		&__preview-text {
			font-size: 20px;
			line-height: 26px;
		}



		&__date {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
		}
	}

}

.news-more-container {
	margin-top: 55px;
}

.news-detail-page {
	.content-text {
		padding-bottom: 50px;
	}
}

.news-detail {
	max-width: 800px;

	h1 {
		font-size: 30px;
		line-height: 1.1;
		margin-bottom: 10px;

		@include media-breakpoint-up(sm) {
			font-size: 40px;
		}

		@include media-breakpoint-up(md) {
			font-size: 50px;
		}

		@include media-breakpoint-up(lg) {
			font-size: 40px;
		}

		@include media-breakpoint-up(xl) {
			font-size: 48px;
		}

	}

	&__date {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__img {
		margin-bottom: 15px;
	}

	&__text {
		font-size: 24px;
		line-height: 32px;

		p {
			margin-bottom: 25px;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__text-more-link {
		margin-top: 8px;
	}

	&__share {
		margin-top: 48px;
		text-align: center;

		&-title {
			position: relative;

			.h5 {
				font-weight: 700;
				font-size: 24px;
				line-height: 32px;
				background-color: $bg;
				display: inline-block;
				position: relative;
				z-index: 1;
				padding: 0 10px;
				margin-bottom: 10px;
			}

			&::before {
				position: absolute;
				content: "";
				left: 0px;
				top: 20px;
				width: 100%;
				height: 1px;
				background-color: $black;
			}

		}

		&-list {
			display: flex;
			justify-content: center;
			align-items: center;

			&-item {
				margin: 0 5px;

				.icon {
					width: 28px;
					height: 28px;
					display: flex;
					text-align: center;
					align-items: center;
					justify-content: center;
					border-radius: 6px;
				}
			}
		}


	}

	&-suggestions {
		margin-top: 110px;

		.h3 {
			font-size: 48px;
			line-height: 55px;
			margin-bottom: 10px;
		}
	}
}


/****************reviews PAGE********************/

.reviews-page .container-fluid {
	padding-bottom: 60px;
}

.reviews-list {
	margin-top: 36px;

	&-item {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;

		&__inner {
			background-color: $white;
			padding: 20px 36px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}


		&__text-block {}


		&__date {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
		}

		&__name {
			margin-bottom: 10px;
			font-size: 32px;
			line-height: 37px;
		}

		&__text {
			font-size: 20px;
			line-height: 26px;
			word-break: break-all;
		}

		&__author {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			margin-top: 25px;
		}
	}

}

