//Colors
@import 'colors';


//Fonts
$Berlin : "BerlinType";
$Gothic : "PPRightGothic";

$spacer: 1rem;
$spacers: (
				0: 0,
				1: calc($spacer / 4),
				2: calc($spacer / 2),
				3: calc($spacer),
				4: calc($spacer * 1.5),
				5: calc($spacer * 2),
				6: calc($spacer * 2.5),
				7: calc($spacer * 3)
);

$negative-spacers: null;

$grid-columns:      12;
$grid-gutter-width: 72px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  xxl: 1400px,
  xxl1500: 1500px,
  xxxl: 1600px,
  xxxxl: 1900px,



);

$my-grid-breakpoints: (
  sm576: 576px,
  md768: 768px,
  lg992: 992px,
  xl1200: 1200px,
  xxl1400: 1400px,
  xxl1500: 1500px,
  xxxl1600: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);

$min-contrast-ratio: 2.5;

@import "../../node_modules/bootstrap/scss/functions";

$btn-close-padding-x:0;
$btn-close-bg:none;
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


$grid-gutter-width:30px;
//@import "../../node_modules/bootstrap/scss/grid";
@import 'bootstrap-grid-custom';
@import "../../node_modules/bootstrap/scss/containers";

//@import "../../node_modules/bootstrap/scss/utilities";
//@import "../../node_modules/bootstrap/scss/utilities/api";
@import 'bootstrap-utilities-custom';

/*
$modal-header-border-color: transparent;
$modal-content-border-color: transparent;
$modal-header-padding: 0;
$modal-inner-padding: 0;
$modal-content-bg: transparent;
$modal-content-border-radius:0;
$modal-backdrop-bg: black;
$modal-backdrop-opacity:.7;

$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;

@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/close";
*/

.form-control.is-invalid+label, .was-validated .form-control:invalid+label{
	color:$red;
	
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
    border-color: $red;
    box-shadow: 0 0 0 0.25rem rgb(231 57 34 / 25%);
}

/*
$form-check-input-focus-box-shadow: none!important;
$form-check-input-bg: transparent;
$form-check-input-checked-bg-color: $black;
$form-check-input-checked-border-color: $black;
$form-check-input-focus-border: $black;
$form-check-input-border: 1px solid $black;

@import "../../node_modules/bootstrap/scss/forms/form-check";

$enable-validation-icons: false;
$form-feedback-valid-color: $black;
$form-feedback-invalid-color: $red;
@import "../../node_modules/bootstrap/scss/forms/validation";

$input-border-radius:1px;
@import "../../node_modules/bootstrap/scss/forms/input-group";
*/
//@import "../../node_modules/bootstrap/scss/forms/form-control";


//@import "../../node_modules/bootstrap/scss/accordion";
//@import "../../node_modules/bootstrap/scss/transitions";

//$sl-overlay-background: black;
//@import 'simple-lightbox';
//@import 'fancybox';

//@import 'slick';
//@import 'slick-theme';


@import 'swiper';
@import 'swiper-navigation';

@import 'bvi/bvi';



/* mixins ----------------------------------------- */


@import 'mixins/functions';//миксин для осветления и затемнения кнопок

/* End mixins ----------------------------------------- */

/* generated font */
@import "fonts";

/* Blocks */
@import 'helpers';
@import 'global';


